
<div class="container">

    <div class="row">
      
      <div class="col-md-12"> 
        
          
          <!--/stories-->
         
          <div class="row">   
             
            <br>
            <div class="col-md-5 col-sm-3 text-center">
             
            </div>
            <div class="col-md-5 col-sm-9">
            <br>
              
              <form method="POST" (ngSubmit)="update()">
                <label for="">Name</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="selectedUser.username">
                <br>
                <label for="">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="selectedUser.email" id="">
                <br>
                <label for="">Phone number</label>
                <input type="text" class="form-control" [(ngModel)]="selectedUser.phnumber" name="phnumber" >
                <br>
                <label for="">Date of Birth</label>
                <input type="text" class="form-control" [(ngModel)]="selectedUser.dob" name="dob" >
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Save changes</button>
                  </form>
            </div>
          </div>
          <hr>
          <!--/stories-->
        </div>
  
  </div>
  </div>
  
